---
import resume from '../components/Resume_Data_Helper';

const { basics } = resume;
---

<div class="section section_about" >
    <h1 class="no-margin">About</h1>
    <p class="aboutme">{basics.summary}</p>
</div>

<style>
    .section_about{
        margin-top: 1rem;
        gap: 1rem;
    }
    .aboutme{
        margin-top: 0.6rem;
        font-size: 0.8rem;
        text-wrap: normal;
    }
</style>