---
import resume from '../components/Resume_Data_Helper';
const { references } = resume;
---

<div class="section">
    <h1 class="no-margin">Referencias</h1>
    <div class="references">
        {references.map((item, index)=>(
            <div class="reference">
                <h2 class="rname no-padding">{item.name}</h2>
                <h3 class="company">{item.company}</h3>
                <p class="rank"> ( {item.position} )</p>
                <p class="phone"><strong>Phone: </strong>{item.phone}</p>
            </div>
        ))}
    </div>
</div>

<style>
    .references{
        padding: 0.6rem;
        display: flex;
        gap: 1rem;
    }
    .reference{
        border: 0.1rem solid var(--derivado);
        border-radius: 0.5rem;
        padding: 0.6rem;
        display: grid;
        grid-template-areas: 
            "name name" 
            "company rank"
            "summary summary";
        gap: 0.2rem;
    }
    .rname{
        grid-area: name;
        font-size: 1.2rem;
        text-transform: capitalize;
    }
    .company{
        grid-area: company;
        font-size: 0.8rem;
        color: var(--derivado);
        font-weight: bold;
    }
    .rank{
        align-self: start;
        grid-area: rank;
        font-size: 0.7rem;
        font-weight: bolder;
    }
    .phone{
        grid-area: summary;
        font-size: 0.8rem;
        font-weight: bold;
        
    }
    strong {
            color: var(--primario);
    }
</style>
