---
import resume from '../components/Resume_Data_Helper';
const { skills } = resume;
---

<div class="section section__skills">
    <h1 class="no-margin skills_titulo">Skills</h1> 
    <div class="skills__leyendas">
        <div class="leyenda basic">
            <span>Basic</span>
        </div>
        <div class="leyenda intermediate">
            <span>Intermediate</span>
        </div>
        <div class="leyenda expert">
            <span>Expert</span>
        </div>
    </div>
    <div class="skills">
      {skills.map(
        (item, index)=>(
        <div class={`skill ${item.level.toLowerCase()}`}>
                <span>{item.name}</span>
        </div>
      ))}
    </div>
</div>

<style>
    .leyenda{
        width: 6rem;
        text-align: center;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
    .section__skills{
        display: grid;
        grid-template-areas: "titulo leyenda"
                            "skills skills";
    }
    .skills__leyendas{
        grid-area: leyenda;
        display: flex;
        font-size: 0.7rem;
        gap: 0.5rem;
        align-items: center;
        justify-content: end;
    }
   .skills_titulo{
       grid-area: titulo;
   }
   .skills{
       padding: 0 0.6rem;
       grid-area: skills;
       display: flex;
       gap: 0.5rem;
       flex-wrap: wrap;
   }
   .skill{
        text-wrap: pretty;
        padding: 0 0.6rem;
        font-size: 0.85rem;
        text-align: center;
        color: white;
        border-radius: 0.5rem;
        font-weight: bold;
   }
   .basic{
        background-color: color-mix(in srgb, var(--primario) 30%, white);
    }
    .intermediate{
        background-color: color-mix(in srgb, var(--primario) 60%, white);
    }
    .expert{
        background-color: color-mix(in srgb, var(--primario) 90%, white);
    }
    .soft{
        background-color: color-mix(in srgb, var(--primario) 10%, white);
        color: black;
        border: 0.1rem solid var(--primario);
    }
</style>